<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        background-color: rgb(67, 45, 45);
      }
      .error {
        color: rgb(91, 169, 168);
        font-size: 2rem;
        text-align: right;
        margin: 1rem;
      }
    </style>
    <title>login</title>
  </head>
  <body>
    <form action="/user/login" method="POST">
      <h1>Login Now</h1>
      <input type="text" name="firstName" placeholder="FirstName Here" />
      <input type="email" name="email" placeholder="email here" />
      <input type="password" name="password" placeholder="password here" />
      <p class="error"><%=locals.message%></p>
      <button type="submit">LOg IN</button>
    </form>
  </body>
</html>
