<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
  </head>
  <body>
    <form action="/user" method="post">
      <h1>Registration here</h1>
      <input type="text" name="firstName" placeholder="FirstName Here" />
      <input type="text" name="lastName" placeholder="lastname Here" />
      <input type="email" name="email" placeholder="email here" />
      <input type="password" name="password" placeholder="password here" />
      <button type="submit">signup</button>
    </form>
  </body>
</html>
